# Python / FastAPI
__pycache__/
*.pyc
venv/
env/
.env

# Node / React
node_modules/
dist/
build/
.npm
.eslintcache

# OS Files
.DS_Store
Thumbs.db
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# ML
*.pkl
dataset/
